#detailTask {
    z-index: 2;
    position: relative;
}
.table-responsive{
    margin: 20px;
    background-color: rgb(215, 224, 215);
}
.table{
    margin-bottom: 0px;
    border-color: rgb(109, 108, 108);
}
.btn{
    margin-right: 50px;
}
th{
    border-color: rgb(109, 108, 108);
}
tr{
    text-align: center;
    margin-top: 5px;
    border-color: rgb(109, 108, 108);
}

.table-responsive{
    max-height: 650px;
}
.col{
  background-color: rgb(173, 175, 173);
}
.col-10{
  background-color: rgb(215, 224, 215);
}
.row{
  border: 1px solid #686767;
}
#detailTask{
  
  margin: 10px 50px 10px 50px;
}
h2{
  text-align: center;
}
/* login page */
#login-page {
    width: 360px;
    margin: auto;
    margin-top: 10%;

  }
  #login-page .img-login-res{
    padding-left: 50px;
    background: #FFFFFF;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: 'Montserrat';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;  
    box-sizing: border-box;
    font-size: 14px;
  }

  .form .input-login input[type=text], .form .pass-login input[type=password]{
    padding-left: 40px;
    border-radius: 10px;
  }

  .form .input-login, .form .pass-login{
    position: relative;
  }

  .form .input-login i, form .pass-login i{
    position: absolute;
    font-size: 20px;
    left: 0px;
    top:4px;
    padding: 8px 8px;
    color: #000000;
  }

  .form .btn-login {
    margin-top: 30px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    outline: 0;
    background: #00a254;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgb(23 43 43 / 20%), 0 5px 5px 0 rgb(0 0 0 / 50%);
    
  }
  .form .btn-login:hover{
    transform: scale(1.01);
}
.form .btn-login:active{
  background: #21ce7d;
}
  .form .btn-create{
    margin-top: 30px;
    cursor: pointer;
    border: none;
    background: #ffffff;
    color: rgb(4, 104, 255);
    font-weight: 700;
  }
  
  .form .btn-create:hover{
    text-decoration:underline;

  }
  .form .btn-create:active{
    color: rgb(114, 175, 255);

  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background: #F5F5F5; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }

 /* End */